.root {
  border-radius: 50%;
  transition: all 200ms;
  border: solid 1px var(--mantine-color-gray-3);
  background-color: transparent;

  &.liked {
    border: solid 1px var(--mantine-color-pink-2);
    background-color: var(--mantine-color-pink-0);
  }

  &[data-disabled] {
    background-color: var(--mantine-color-gray-3);
    border-color: var(--mantine-color-gray-3);
  }
}
