.icon {
  border-radius: 50%;
  transition: all 200ms;
  background-color: transparent;

  &:hover {
    background-color: var(--mantine-color-pink-1);
  }
}

.liked {
  &:hover {
    background-color: var(--mantine-color-gray-2);
  }
}
