.button {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  box-shadow: 2px 3px 6px var(--mantine-color-red-3);
  transition: all 200ms;
  background-color: var(--mantine-color-red-7);

  &:hover {
    background-color: var(--mantine-color-red-6);
  }
}

.developer-count {
  pointer-events: none;
  text-decoration: none;
  color: var(--mantine-color-red-7);

  &.link {
    pointer-events: auto;
    text-decoration: underline;
  }
}
