.root:target {
  box-shadow: 0 0 0 2px var(--mantine-color-red-7);
}

.deleted-message {
  color: var(--mantine-color-red-7);
  text-decoration: none;
  display: flex;
  gap: 3;
  align-items: center;
}

.replay-message {
  color: var(--mantine-color-red-7);
  text-decoration: none;
  display: flex;
  gap: 3;
  align-items: center;
}

.replay-message:hover {
  color: var(--mantine-color-red-9);
}

.comment {
  white-space: pre-wrap;
}
