.dropdown {
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-gray-0);
  border: 1px solid var(--mantine-color-gray-3);
}

.option {
  transition: background-color 100ms;

  &[data-combobox-selected],
  &:hover {
    background-color: var(--mantine-color-gray-2);
  }
}
