.root {
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-sm);
  max-height: 250px;
  cursor: pointer;
  position: static;
  transition: all 100ms;
  outline: transparent solid 0px;

  &:not(:has(a:hover)):hover {
    outline: var(--mantine-color-red-6) solid 2px;
    outline-offset: 2px;
  }
}
