.root {
  text-decoration: none;

  &:hover {
    text-decoration-line: underline;
    text-decoration-color: var(--mantine-color-red-7);
    text-decoration-style: solid;
    text-underline-offset: 3px;

    & * {
      color: var(--mantine-color-red-7) !important;
    }
  }
}
