.root {
  min-height: 100dvh;
  display: flex;
}

.content {
  width: 100%;
  min-width: 0;
  margin: 0 auto;
  /* これがあると開発環境でお題詳細画面から遷移したページが空になるという問題がある */
  /* なんで・・・？ */
  /* container-type: inline-size; */
}
