.like-button {
  border-radius: 50%;
  box-shadow: var(--mantine-shadow-md);
  transition: all 200ms;
  background-color: var(--mantine-color-gray-1);

  .liked {
    background-color: var(--mantine-color-pink-1);

    &:hover {
      background-color: var(--mantine-color-gray-2);
    }
  }

  &:hover {
    background-color: var(--mantine-color-pink-1);
  }

  &[data-disabled] {
    background-color: var(--mantine-color-gray-3);
    border-color: var(--mantine-color-gray-3);
    box-shadow: var(--mantine-shadow-xs);
  }
}

.like-count {
  pointer-events: none;
  text-decoration: none;
  color: var(--mantine-color-gray-7);

  &.link {
    pointer-events: auto;
    text-decoration: underline;
  }

  &.liked {
    color: var(--mantine-color-pink-7);
  }

  &:hover {
    color: var(--mantine-color-red-7);
  }
}
