.root {
  padding: 40px 100px;

  /* TODO:  
  https://github.com/microsoft/vscode-css-languageservice/pull/365#issuecomment-1759099713 
  */
  @container (max-width: 800px) {
    padding: 20px 50px;
  }
}

.close-button {
  transition: all 250ms;
  background-color: transparent;
  top: 15px;
  right: 15px;
  position: absolute;
  z-index: 1;

  &:hover {
    background-color: var(--mantine-color-gray-7);
  }
}

.more-button {
  width: min-content;
  background-color: var(--mantine-color-red-7);
  color: var(--mantine-color-gray-2);
}
