.action {
  background-color: transparent;
  transition: all 200ms;

  &::after {
    content: "";
    background-color: var(--mantine-color-gray-9);
    transition: all 250ms;
    opacity: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  &:hover::after {
    opacity: 0.1;
  }

  & svg {
    stroke: var(--mantine-color-gray-7);
  }
}
