.root {
  position: sticky;
  top: 0;
  z-index: 2;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--mantine-radius-xl);
  transition: all 200ms;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.title-wrapper {
  overflow: hidden;
}
