.root {
  border-radius: var(--mantine-radius-md);
  border: 1px solid;
  border-color: var(--mantine-color-gray-4);
}

.error-message {
  visibility: hidden;

  &.show {
    visibility: visible;
  }
}
