.root {
  background-color: var(--mantine-color-gray-1);
}

.control {
  border-radius: 4px;
  transition: background-color 150ms;

  &[data-active] {
    pointer-events: none;
  }
}

.label {
  font-weight: bold;
  color: var(--mantine-color-gray-5);

  &:hover {
    color: var(--mantine-color-gray-7);
  }

  &[data-active] {
    color: var(--mantine-color-gray-1) !important;
  }
}
