.search-more-button {
  color: var(--mantine-color-gray-1);
  transition: all 150ms;
  background-color: var(--mantine-color-red-6);

  &:hover {
    background-color: var(--mantine-color-red-8);
  }
}
