.input {
  background-color: transparent;
  color: var(--mantine-color-gray-7);
  border-radius: var(--mantine-radius-md);

  &:focus-within {
    outline: var(--mantine-color-gray-4) solid 2px;
    outline-offset: 2px;

    /* フォーカスしたときに枠線の色が変わるのを防ぐ */
    --_input-bd: unset;
  }
}
.label {
  color: var(--mantine-color-gray-5);
}

.option {
  margin: 1px;
  transition: background-color 250ms;
  color: var(--mantine-color-gray-7);

  &[data-combobox-selected],
  &:hover {
    background-color: var(--mantine-color-red-1);
  }

  &[data-checked] {
    & svg {
      transition: opacity 250ms;
      opacity: 1;
      color: var(--mantine-color-red-7);
    }

    &[data-combobox-selected],
    &:hover {
      & svg {
        opacity: 0.5;
      }
    }
  }
}

.dropdown {
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-gray-0);
  border: 1px solid var(--mantine-color-gray-3);
}

.pill {
  background-color: var(--mantine-color-red-1);
  color: var(--mantine-color-red-7);
}
