.option {
  margin: 1px;
  transition: background-color 250ms;
  color: var(--mantine-color-gray-7);

  &[data-combobox-selected],
  &:hover {
    background-color: var(--mantine-color-red-1);
  }

  &[data-checked] {
    pointer-events: none;
    & svg {
      opacity: 1;
      color: var(--mantine-color-red-7);
    }
  }
}

.dropdown {
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-gray-0);
  border: 1px solid var(--mantine-color-gray-3);
}
