.option {
  transition: background-color 250ms;
  color: var(--mantine-color-gray-7);

  &:hover {
    background-color: var(--mantine-color-gray-2);
  }

  &[data-checked] {
    pointer-events: none;
    background-color: var(--mantine-color-red-7);
    color: var(--mantine-color-gray-1);

    & svg {
      opacity: 1;
      color: var(--mantine-color-gray-0);
      fill: var(--mantine-color-gray-0);
    }
  }
}

.dropdown {
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-gray-0);
  border: 1px solid var(--mantine-color-gray-3);
}
