.root {
  position: relative;
}

.root::before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 17px;
  width: 2px;
  background: var(--mantine-color-gray-3);
}

.reply-button {
  transition: background-color 250ms;
}

.reply-button:hover {
  background-color: var(--mantine-color-gray-2);
}
