.input {
  border-width: 0px;
  transition: background-color 250ms;

  &[data-error] {
    color: var(--mantine-color-red-7) !important;
  }
}

.wrapper {
  outline: none !important;
}

.error {
  color: var(--mantine-color-red-7) !important;
}
