.root {
  background-color: var(--mantine-color-gray-4);
  border-radius: var(--mantine-radius-md);

  animation-name: skelton;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes skelton {
  from {
    opacity: 0.6;
  }

  50% {
    opacity: 0.2;
  }

  to {
    opacity: 0.6;
  }
}
