.root:target {
  outline: var(--mantine-color-red-5) solid 2px;
  outline-offset: 5px;
  border-radius: var(--mantine-radius-xs);
}

.content {
  flex-grow: 1;
}

.text-wrapper {
  white-space: pre-wrap;
}
