.root {
  cursor: pointer;
  position: static;
  transition: all 100ms;
  outline: transparent solid 0px;

  &:not(:has(a:not(.idea-link):hover, button:hover)):hover {
    outline: var(--mantine-color-red-6) solid 2px;
    outline-offset: 3px;
  }
}

.idea-title {
  line-height: 1.4;
  word-break: break-all;
  height: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.user-content {
  overflow: hidden;
}
