.root {
  cursor: pointer;
  position: static;
  transition: all 100ms;
  outline: transparent solid 0px;
}

.root:not(:has(a:not(.idea-link):hover, button:hover)):hover {
  outline: var(--mantine-color-red-6) solid 2px;
  outline-offset: 3px;
}

.idea-title {
  line-height: 1.4;
  word-break: break-all;
}

.user-content {
  overflow: hidden;
}

.elapsed-text {
  white-space: nowrap;
}
